

<main>
  <div class="conteiner">
      
      <div class="low">
          <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            
              <h1>Editing Book</h1>
              <%= form_with model: @newbook do |f| %>
              <p>Title</p>
                <div class="form-group">
                <%= f.text_field :title %>
                </div>
              <p>Opinion</p>
                <div class="form-group">
                <%= f.text_area :body %>
                </div>
                <%= f.submit 'Update Book' %>
                
                <% end %>
                <p>
                   <%= link_to 'Show', book_path %>|<%= link_to 'Back', books_path %>
                </p>
            </div>
        </div>
    </div>


</main>

<footer>
  <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
        </div>
    </div>
  </div>
</footer>